<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="ugh, hi." name="description">
        <meta content="Makeup Webcam" name="title">
        <!--
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <title>LIS Sign Detection Demonstration</title>
    </head>
        <style>
         #container {
             margin: 50px 25px auto 25px;
             border: 2px #333 solid;
         }
         #videoElement {
             width: 640px;
             height: 480px;
             display: none;
             background-color: #666;
         }

         #imageElement {
             width: 640px;
             height: 480px;
             background-color: #666;
         }

         #canvasElement {
             width: 640px;
             height: 480px;
             border: 2px solid rgb(17, 148, 28);
         }
         #photo {
             width: 512px;
             height: 512px;
             vertical-align: top;
             margin: 0
             border: 2px solid rgb(141, 16, 16);
         }

         body{
            background: rgb(131, 176, 218);
            font-family: Verdana, Geneva, Tahoma, sans-serif;
        }
        /* Container holding the image and the text */
        .container_img {
            position: relative;
        }

        /* Centered text */
        .centered {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .messages{
            font-size: large;
            font-weight: 400;
        }
        </style>
    <script>

        var isSetTimmeoutRunning = false;  
        function startCountdown(){
          $( "#cdown_text" ).toggle();
          $( "#record_done" ).toggle(false);
          $( "#result_word" ).toggle(false);
        
        
          if( isSetTimmeoutRunning == false ){
            //$("#cdown_text").removeClass('d-none');
            isSetTimmeoutRunning = true;
            var userInput = Number(5);
            var userMilliseconds = userInput*1000;
            setTimeout(function(){
              isSetTimmeoutRunning = false;
              startRecordVideo()
            }, userMilliseconds);
            var counter = userInput;
            document.getElementById("countdown-text").innerHTML = "<b>" + counter + "</b>";
            var interval = setInterval(function(){
              counter--;
              document.getElementById("countdown-text").innerHTML = "<b>" + counter + "</b>";
              if( counter == 0 ){
                document.getElementById("countdown-text").innerHTML = "";
                clearInterval(interval);
              }
            }, 1000);
          }
        }
        
        function startRecordVideo(){
          $( "#cdown_text" ).toggle();
          $( "#recording" ).toggle();
        
             $.get("/start_record", function(data, status){
              
                console.log("Data: " + data + "\nStatus: " + status);
                $( "#recording" ).toggle();
                $( "#record_done" ).toggle();
            });
        }
        
        
        function process(){
          $( "#record_done" ).toggle(false);
          $( "#cdown_text" ).toggle(false);
          $( "#load_process" ).toggle();
        
          $.get("/start_detection", function(data, status){
                console.log("Data: " + data + "\nStatus: " + status);
                setTimeout(function(){
                  $( "#load_process" ).toggle();
        
                  $( "#word" ).html(data.response);
                  $( "#result_word" ).toggle();
                }, 3000)
                
            });
          
        };
        
        </script>
    <body>
        
        <div id="container">

            <div class="row my-1 mx-1 background bg-white">
                <!-- div class="col-md-auto ">
                    <h1 class="">Cam image</h1>
                    <video autoplay="true" id="videoElement"></video>
                    <canvas id="canvasElement"></canvas>
                  
                </div -->
                <div class="col-md-auto">
                    <div class="container_img mb-2">
                        <h1 class="">Sign detection</h1>
                        
                          <!-- img id="photo" -->
                          <video autoplay="true" id="videoElement"></video>
                          <canvas id="canvasElement"></canvas>
      
                          <div id="cdown_text" style="font-size: 150px; color: green; display: none">
                            <div id="countdown-text" class="centered"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto ">
                    <div class="row-lg-8 mt-2 ">
                      <button type="button" id="start" class="btn btn-primary" onclick="startCountdown()">Start</button>
                      
                      <button type="button" class="btn btn-primary" onclick="process()">Process</button>
                    </div>
                    <div class="messages d-flex flex-column h-100 justify-content-center align-items-center"> 
                      <div id="load_process" class="row-lg-8 " style="display: none">
                        <div class=" spinner-border" style="width: 10rem; height: 10rem;" role="status">
                          <span class="visually-hidden">Elaborazione del segno... </span> 
                        </div>
                        
                      </div>
        
        
                      <div id="recording" class="row-lg-8 " style="display: none">
                        In fase di registrazone
                      </div>
                      <div id="record_done" class="row-lg-8 " style="display: none">
                        La registrazione è stata acquisita.
                      </div>
                      <div id="result_word" class="row-lg-8 " style="display: none">
                        <h3><b>Risultato: <span id="word" style="color:green"></span></b></h3>
                    </div>
                  </div>
        
                </div>
        </div>
        <!--
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g=" crossorigin="anonymous"></script>
        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.3/socket.io.js" integrity="sha512-2RDFHqfLZW8IhPRvQYmK9bTLfj/hddxGXQAred2wNZGkrKQkLGj8RCkXfRJPHlDerdHHIzTFaahq4s/P4V6Qig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        -->
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </body>
</html>
